#gameCanvas {
    margin: auto;
    background-color: #000;
    border: thick solid lightgray;
}

#start-screen {
    text-align: center;
    margin: 20%;
}

#play-screen {
    text-align: center;
    margin-top: 20%;
}

#play-btn {
    color: #FFF;
    background-color: #414a4c;
    width: 14em;
    height: 14em;
    border-radius: 100%;
    font-family: 'Press Start 2P', cursive;
}

#play-btn:hover {
    width: 15em;
    height: 15em;
}

#start-button {
    color: #FFF;
    background-color: #0c164f;
}

#start-button:hover {
    width: 15em;
    height: 11em;
}
 
#how-to-play {
    color: #FFF;
    background-color: #ba1e68;
}

#how-to-play:hover {
    width: 15em;
    height: 11em;
}

#instructions {
    text-align: center;
    margin: 10%;
}

#back-btn {
    color: #FFF;
    background-color: #7649fe;
}

#back-btn:hover {
    width: 15em;
    height: 11em;
}

#text-instructions {
    color: #FFF;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.btn {
    margin: 1%;
    width: 14em;
    height: 10em;
    font-family: 'Press Start 2P', cursive;
}

#credits-btn {
    color: #CDCDCD;
    background-color: #fffdd0;
}

#credits-btn:hover {
    width: 15em;
    height: 11em;
}

#credits-back-btn {
    margin: 1%;
    width: 14em;
    height: 10em;
    font-family: 'Press Start 2P', cursive;
    color: #FFF;
    background-color: #7649fe;
}

#credits-back-btn:hover {
    width: 15em;
    height: 11em;
}

#credits-screen {
    text-align: center;
    margin: 10%;
}

#credits-txt {
    color: #FFF;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

#title {
    color: #FFF;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: #1d1135;
    font-family: 'Press Start 2P', cursive;
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('./PressStart2P-Regular.ttf') format('truetype');
  }